/*
* @Author: 牛培楠
* @Date:   2018-07-15 14:23:54
* @Last Modified by:   牛培楠
* @Last Modified time: 2018-08-02 00:06:46
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	display: block;
}

.longphoto{
	width: 100%;
	height: 523.16px;
	background: url('../img/header1.jpg');
	position:relative;
	top: 0;
	left: 0;
}
.longphoto .header{
	width: 100%;
	height: 80px;
	position: fixed;
	top:0;
	left: 0;
	z-index: 100; 
	background-color: rgba(255, 255, 255,0);
}
.longphoto .header .nav{
	width: 1200px;
	height: 80px;
	margin: 0 auto;
}

.longphoto .header .nav .left{
	width: 300px;
	height: 48px;
	float: left;
	margin-top: 20.45px;
}
.longphoto .header .nav .right{
	width:900px;
	height: 44px;
	float: left;
	margin-top: 18.5px;
}
.longphoto .header .nav .right .con{
	width: 496px;
	height: 44px;
	float: right;
	position: relative;
}
.longphoto .header .nav .right .con a{
	width: 116px;
	height: 44px;
	line-height: 44px;
	display: block;
	float: right;
	text-align: center;
	position: relative;
	/*overflow: hidden;*/
}
.longphoto .header .nav .right .con a:nth-of-type(3)::after{
	content: "";
	width: 60px;
	height: 1px;
	background-color: #A50C00;
	position: absolute;
	top: 43px;
	left: 30px;
}
.longphoto .header .nav .right .con a .pinpai{
	width: 144px;
	height: 144px;
	position: absolute;
	bottom: -144px;
	left: -15px;
	background: #fff;
	z-index: 100;
	display: none;
}
.longphoto .header .nav .right .con a .pinpai span{
	display: block;
	width: 144px;
	height: 36px;
	font-size: 14px;
	text-align: center;
	line-height:36px;
	color: #676767;
}
.longphoto .header .nav .right .con a .chanpin{
	width: 144px;
	height: 252px;
	position: absolute;
	top: 44px;
	left: -15px;
	background: #fff;
	display: none;
}
.longphoto .header .nav .right .con a .chanpin span{
	display: block;
	width: 144px;
	height: 36px;
	font-size: 14px;
	text-align: center;
	line-height:36px;
	color: #676767;
}
.longphoto .header .nav .right .con a span{
	font-size: 16px;
	color: #141214;
}
.longphoto .header .nav .right .con a:nth-child(4) span{
	display: block;
	width: 144px;
	height: 44px;
	text-align: center;
	line-height: 44px;
	font-size: 16px;
	color: #141214;
	transition: all 0.5s;
	position: absolute;
	left: 0;
	top: 0;
}
.longphoto .header .nav .right .con a em{
	display: block;
	width: 144px;
	height: 44px;
	text-align: center;
	line-height: 44px;
	font-size: 16px;
	color: #141214;
	position: absolute;
	left: 0;
	top: 44px;
	display: none;
}
/*.audio .header .nav .right .con a:nth-of-type(4):hover span{
	top: -44px;
}
.audio .header .nav .right .con a:nth-of-type(4):hover em{
	top: 0;
}*/
.longphoto .header .nav .right .con a:nth-child(1){
	width: 148px;
	height: 44px;
}
.longphoto .header .nav .right .con a:nth-child(5){
	position: absolute;
	top: 0;
	left: -116px;
}
.longphoto .header .nav .right .con a:nth-of-type(3) .span{
	color: #A50C00;
}
.longphoto .middle{
	width: 100%;
	height: 165.08px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin-bottom: 14.47px;
	position: absolute;
	bottom: 0;
	top:0 px;
	left: 0;
	right: 0;
	margin:255.55px auto;
}
.longphoto .middle .kawa{
	width: 236px;
	height: 58px;
}
.longphoto .shou{
	width: 100%;
	height: 241.08px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	position: absolute;
	bottom: 0;
	left: 0;
}
.longphoto .shou .con{
	width: 590px;
	height: 24px;
}

.title{
	width: 100%;
	height: 81.87px;

}
.title .con{
	width: 96px;
	height: 24px;
	margin: 36.17px auto;
}
.title .con span{
	font-size: 24px;
	color: #000000;
}
.zhanshi{
	width: 100%;
	height: 462.9px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #f9f9f9;
}
.zhanshi .con{
	width: 255px;
	height:214.36px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer{
	width: 100%;
	height: 380px;
	background-color: #333333;
}
.footer .con{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.footer .con .top{
	width: 1200px;
	height: 311.38px;
	display: flex;
	align-items: center;
}
.footer .con .top .top-son{
	width: 1200px;
	height: 207.94px;
}
.footer .con .top .top-son .son1{
	width: 483px;
	height: 100%;
	float: left;
}
.footer .con .top .top-son .son1 .lianxi{
	width: 100%;
	height: 27px;
}
.footer .con .top .top-son .son1 .lianxi span{
	font-size: 18px;
	color: #fff;
}
.footer .con .top .top-son .son1 .xinxi{
	width: 100%;
	height:137px;
	margin-top: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.footer .con .top .top-son .son1 .xinxi .xi{
	width: 100%;
	height: 21px;
}
.footer .con .top .top-son .son1 .xinxi .xi span{
	font-size: 14px;
	color: #fff;
}
.footer .con .top .top-son .son2{
	width: 400px;
	height: 100%;
	float: left;
}
.footer .con .top .top-son .son2 .dao{
	width: 100%;
	height: 27px;
}
.footer .con .top .top-son .son2 .dao span{
	font-size: 18px;
	color: #fff;
}
.footer .con .top .top-son .son2 .wo{
	width: 100%;
	height:80px;
	margin-top: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.footer .con .top .top-son .son2 .wo .men{
	width: 100%;
	height: 21px;
}
.footer .con .top .top-son .son2 .wo .men span{
	font-size: 14px;
	color: #fff;
}
.footer .con .top .top-son .son3{
	width: 152px;
	height: 100%;
	float: left;
}
.footer .con .top .top-son .son3 .ma{
	width: 152px;
	height: 152px;
}
.footer .con .bottom{
	width: 1200px;
	height: 69.62px;
}
.footer .con .bottom .weizhi{
	width: 1200px;
	height: 20px;
	margin-top: 5px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.footer .con .bottom .weizhi span{
	font-size: 14px;
	color: #999999;
}
.footer .con .bottom .zhi{
	width: 1200px;
	height: 20px;
	margin-top: 10px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.footer .con .bottom .zhi span{
	font-size: 14px;
	color: #999999;
}